<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>


  <appSettings>

    <add key="Host" value="192.168.90.8"/>
    <add key="BD" value="BD_FACTURACION"/>
    <add key="USER" value="SHCmp3SO7qo="/>
    <add key="PWD" value="m2BEJzpQRAarQ3gYAJLWSA=="/>
    
    <add key="PathLogSLINADE" value="J:\SLIN-ADE\Logs\"/>
    <add key="NameService" value="ADE.Services.PrintDocument" />
    <add key="Path_FoxitExe" value="J:\SLIN-ADE\DEPOSEG\Procesos\smp\bin\Foxit Reader.exe" />
    <add key="ValidateWithDataBase" value="NO" />
    <add key="ValidatePrintResume" value="SI"/>


    <!--DB CONNECT-->
    <!--<add key="Host" value="HOST_ARS"/>
    <add key="BD" value="DB_ARS"/>
    <add key="USER" value="USER_ARS"/>
    <add key="PWD" value="PWD_ARS"/>-->

    <!--PATH-->
    <!--<add key="PathLogSLINADE" value="HARDDESK\SLIN-ADE\Logs\"/>
    <add key="NameService" value="ADE.Services.PrintDocument" />
    <add key="Path_FoxitExe" value="HARDDESK\SLIN-ADE\ACRONIMO\Procesos\smp\bin\Foxit Reader.exe" />
    <add key="ValidateWithDataBase" value="NO" />
    <add key="ValidatePrintResume" value="SI"/>-->

  </appSettings>

</configuration>