<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <!--<add name="cnsFacturacion" connectionString="Server=192.168.90.2; Database=BD_Facturacion; User Id=SA; Password=C@rpor4c10n;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="cnsFacturacion" connectionString="Server=200.60.6.20; Database=BD_Facturacion; User Id=SA; Password=C@rpor4c10n;" providerName="System.Data.SqlClient" />-->

    <!--<add name="cnsfacturacion" connectionString="Server=192.168.90.7\SQLEXPRESS; Database=BD_Facturacion; User Id=SA; Password=Factura99;" 
         providerName="System.Data.SqlClient" />-->

    <!--<add name="cnsfacturacion" connectionString="server=192.168.101.97\SQLEXPRESS;database=BD_FACTURACION; user=sa; pwd=Factura99;"
      providerName="System.Data.SqlClient" />-->
    
    <!--<add name="PathReporte" connectionString="D:/SLIN-ADE/PWC/Procesos/Report/Reporte/" />
    <add name="PathDefault" connectionString="D:/SLIN-ADE/PWC/Procesos/PDF_XML/" />-->
    
    
    

    <!--<add name="PathDirectory" connectionString="D:/SLIN-ADE/PWC/Procesos/IndiceDoc"/>
    <add name="PathXml" connectionString="D:/SLIN-ADE/PWC/Procesos/wsd/XML/"/>-->
    

  </connectionStrings>

  <appSettings>
    <!--<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>-->

    <add key="Host" value="192.168.90.8"/>
    <add key="BD" value="BD_FACTURACION"/>
    <add key="USER" value="SHCmp3SO7qo="/>
    <add key="PWD" value="m2BEJzpQRAarQ3gYAJLWSA=="/>
    <!--<add key="PWD" value="eyR0JpnvlL9hjvk72g9EYg=="/>--><!--ANCRO TEST PWD-->
    
    <add key="PathLogSLINADE" value="D:\SLIN-ADE\Logs\LogADE\"/>

  </appSettings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5">
          <buildProviders>
              <add extension=".rdlc"
                  type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
          </buildProviders>
          <assemblies>
              <add assembly="Microsoft.ReportViewer.Common, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
              <add assembly="Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
          </assemblies>
      </compilation>
      <httpRuntime targetFramework="4.5"/>
      <httpHandlers>
          <add path="Reserved.ReportViewerWebControl.axd" verb="*"
              type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"
              validate="false"/>
      </httpHandlers>
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WServiceGetDocumentSoap" closeTimeout="00:06:00" openTimeout="00:06:00" receiveTimeout="00:06:00" sendTimeout="00:06:00"
                    maxBufferPoolSize="6242880" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="ServicioInterfaceXmlSoap" closeTimeout="00:06:00" openTimeout="00:06:00" receiveTimeout="00:06:00" sendTimeout="00:06:00"
                    maxBufferPoolSize="6242880" maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54403/WServiceGetDocument.asmx" binding="basicHttpBinding" bindingConfiguration="WServiceGetDocumentSoap"
                contract="ServiceReferencePWC.WServiceGetDocumentSoap" name="WServiceGetDocumentSoap"/>
            <!--<endpoint address="http://localhost:8192/ServicioInterfaceXml.asmx" binding="basicHttpBinding" bindingConfiguration="ServicioInterfaceXmlSoap"
                contract="ServiceReferenceXml.ServicioInterfaceXmlSoap" name="ServicioInterfaceXmlSoap"/>-->
        
    <endpoint address="http://localhost:61056/ServicioInterfaceXml.asmx" binding="basicHttpBinding" bindingConfiguration="ServicioInterfaceXmlSoap"
                contract="ServiceReferenceXml.ServicioInterfaceXmlSoap" name="ServicioInterfaceXmlSoap"/>
        </client>
    </system.serviceModel>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules runAllManagedModulesForAllRequests="true"/>
        <handlers>
            <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode"
                type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        </handlers>
    </system.webServer>
</configuration>
