<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <!-- ALL PATH-->
    <add key="PathLogSLINADE" value="D:\SLIN-ADE\_ADE\log\"/>
    <add key="PathInput" value="D:\SLIN-ADE\_ADE\smc\cds\"/>
    <add key="20547025319" value="D:\SLIN-ADE\DEPOSEG\Procesos\smc\bin\Slin.Facturacion.ProcessSend.exe" />

    <!--PATH-->
    <!--<add key="PathLogSLINADE" value="HARDDESK\SLIN-ADE\_ADE\log\"/>
    <add key="PathInput" value="HARDDESK\SLIN-ADE\_ADE\smc\cds\"/>-->
    
    <add key="RUCREPLACE" value="HARDDESK\SLIN-ADE\ACRONIMO\Procesos\smc\bin\Slin.Facturacion.ProcessSend.exe" />
    
    <add key="NEWRUC" value="HARDDESK\SLIN-ADE\NEWACRON\Procesos\smc\bin\Slin.Facturacion.ProcessSend.exe" />
    <!--Para registrar otra compañia copie la  sgte linea quitando el comentado y borrando el guion bajo ubicado en tres partes (NEW_RUC, NEW_ACRON)-->
    <!--<add key="NEW_RUC" value="HARDDESK\SLIN-ADE\NEW_ACRON\Procesos\smc\bin\Slin.Facturacion.ProcessSend.exe" />-->

  </appSettings>
  
</configuration>