<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <!--SERVICE CONSULT-->
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <!--DB CONNECT-->
    <add key="Host" value="HOST_ARS" />
    <add key="BD" value="DB_ARS" />
    <add key="USER" value="USER_ARS" />
    <add key="PWD" value="PWD_ARS" />

    <add key="PathLogSLINADE" value="HARDDESK\SLIN-ADE\Logs\LogADE\"/>

    <!--COMPANY-->
    <add key="RUCREPLACE_PathReporte" value="HARDDESK\SLIN-ADE\ACRONIMO\Procesos\Report\Reporte\" />
    <add key="RUCREPLACE_PathXML" value="HARDDESK\SLIN-ADE\ACRONIMO\ProcesoCE\XML\"/>
    <add key="RUCREPLACE_PathPDF" value="HARDDESK\SLIN-ADE\ACRONIMO\ProcesoCE\PDF\"/>
    <add key="RUCREPLACE_PathPDF417" value="HARDDESK\SLIN-ADE\ACRONIMO\ProcesoCE\PDF417\"/>
    <!--END COMPANY-->

    <add key="RUCREPLACE" value="HARDDESK\SLIN-ADE\ACRONIMO\" />


    <add key="NEW_RUC" value="HARDDESK\SLIN-ADE\NEWACRON\" />

    <!-- ALL PATH-->
    <!--Para registrar otra compañia copie la  sgte linea quitando el comentado y borrando el guion bajo ubicado en tres partes (NEW_RUC, NEW_ACRON)-->
    <!--<add key="NEW_RUC" value="HARDDESK\SLIN-ADE\NEW_ACRON\" />-->
    
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  
  
  <system.serviceModel>


    <bindings>
      <basicHttpBinding>
        <binding name="HTTP_Binding" sendTimeout="00:20:00" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
