<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
		<section name="securitySwitch" type="SecuritySwitch.Configuration.Settings, SecuritySwitch" requirePermission="false" />
	</configSections>
  <appSettings>
	<!--SERVICE CONSULT-->
  
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <!--DB CONNECT-->
    <add key="Host" value="HOST_ARS" />
    <add key="BD" value="DB_ARS" />
    <add key="USER" value="USER_ARS" />
    <add key="PWD" value="PWD_ARS" />
  
    <!--LOG-->
    <add key="PathLogSLINADE" value="HARDDESK\SLIN-ADE\Logs\LogADE\"/>
    
  </appSettings>
  <system.web>
    
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  <httpModules>
			<add name="SecuritySwitch" type="SecuritySwitch.SecuritySwitchModule, SecuritySwitch" />
		</httpModules></system.web>
  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding name="HTTP_Binding" sendTimeout="00:20:00" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"><add name="SecuritySwitch" type="SecuritySwitch.SecuritySwitchModule, SecuritySwitch" /></modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <handlers>
      <add name=".svc" verb="*" path="*.svc"
      type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>

    <validation validateIntegratedModeConfiguration="false" /></system.webServer>
<securitySwitch mode="LocalOnly" xmlns="http://SecuritySwitch-v4.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="SecuritySwitch-v4.xsd">
		<paths>
			<!-- You should only need one of these paths based on where your login/logon page/view is accessed from. -->
			<add path="~/Login.aspx" />
			<add path="~/Account/Login.aspx" />
			<add path="~/Account/LogOn/" />
		</paths>
	</securitySwitch></configuration>




