<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <!-- ALL PATH-->
    <add key="PathLogSLINADE" value="D:\SLIN-ADE\_ADE\log\"/>
    <add key="PathInput" value="D:\SLIN-ADE\_ADE\smp\prt\"/>
    <add key="20547025319" value="D:\SLIN-ADE\DEPOSEG\Procesos\smp\bin\Slin.Facturacion.ProcessPrint.exe" />


    <!--PATH-->
    <!--<add key="PathLogSLINADE" value="HARDDESK\SLIN-ADE\_ADE\log\"/>
    <add key="PathInput" value="HARDDESK\SLIN-ADE\_ADE\smp\prt\"/>-->
    
    <add key="RUCREPLACE" value="HARDDESK\SLIN-ADE\ACRONIMO\Procesos\smp\bin\Slin.Facturacion.ProcessPrint.exe" />
    
    <add key="NEWRUC" value="HARDDESK\SLIN-ADE\NEWACRON\Procesos\smp\bin\Slin.Facturacion.ProcessPrint.exe" />
    
    <!-- ALL PATH-->
    <!--Para registrar otra compañia copie la  sgte linea quitando el comentado y borrando el guion bajo ubicado en tres partes (NEW_RUC, NEW_ACRON)-->
    <!--<add key="NEW_RUC" value="HARDDESK\SLIN-ADE\NEW_ACRON\Procesos\smp\bin\Slin.Facturacion.ProcessPrint.exe" />-->

  </appSettings>

</configuration>