<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!--<add name="cnsFacturacion" connectionString="server=.;database=BD_Facturacion; User=sa; pwd=123;" providerName="System.Data.SqlClient"/>-->
    <add name="cnsFacturacion" connectionString="server=192.168.90.2;database=BD_Facturacion; User=sa; pwd=C@rpor4c10n;" providerName="System.Data.SqlClient"/>
    <!--<add name="cnsfacturacion" connectionString="server=192.168.90.7\SQLEXPRESS;database=BD_FACTURACION; user=sa; pwd=Factura99;" providerName="System.Data.SqlClient"/>-->

    <add name="PathReporte" connectionString="D:/SLIN-ADE/PWC/Procesos/smc/Report/Reporte/" />
    <add name="PathDefault" connectionString="D:/SLIN-ADE/PWC/Procesos/smc/forpdf/" />

    <add name="PathDirectory" connectionString="D:/SLIN-ADE/PWC/Procesos/smc/wsd/IndiceDoc"/>
    <add name="PathXml" connectionString="D:/SLIN-ADE/PWC/Procesos/smc/wsd/XML/"/>

  </connectionStrings>
</configuration>