<?xml version="1.0"?>
<configuration>
  <appSettings>
	<!--SERVICE INTERFACE-->
  
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	
    <!--DB CONNECT-->
    <add key="Host" value="HOST_ARS" />
    <add key="BD" value="DB_ARS" />
    <add key="USER" value="USER_ARS" />
    <add key="PWD" value="PWD_ARS" />


    <!--PATH FOR ENTITY -->
    <!--ALL ENTITY-->
    <add key="PathXmlTemp" value="HARDDESK\Temp\"/>
    <add key="PathLogSLINADE" value="HARDDESK\SLIN-ADE\Logs\LogADE\"/>
    <!---->
    
    <!--COMPANY-->
    <add key="RUCREPLACE_PathInterfaceTxT" value="HARDDESK\SLIN-ADE\_ADE\in\"/>
    
    <add key="RUCREPLACE_PathLogSLINADE" value="HARDDESK\SLIN-ADE\ACRONIMO\Logs\"/>
    <add key="RUCREPLACE_PathCreateXmlInterface" value="HARDDESK\SLIN-ADE\ACRONIMO\EntradaCE\InterfXML\"/>
    <add key="RUCREPLACE_PathListDocRecibido" value="HARDDESK\SLIN-ADE\ACRONIMO\Logs/"/>
    <add key="RUCREPLACE_PathListLog" value="HARDDESK\SLIN-ADE\ACRONIMO\Logs\"/>
    <add key="RUCREPLACE_PathListDocOks" value="HARDDESK\SLIN-ADE\ACRONIMO\Logs\"/>
    <add key="RUCREPLACE_PathListError" value="HARDDESK\SLIN-ADE\ACRONIMO\Logs\"/>
    <!--END COMPANY-->


    <add key="NEWRUC" value="HARDDESK\SLIN-ADE\NEWACRON\"/>

    <!-- ALL PATH-->
    <!--Para registrar otra compañia copie la  sgte linea quitando el comentado y borrando el guion bajo ubicado en tres partes (NEW_RUC, NEW_ACRON)-->
    <!--<add key="NEW_RUC" value="HARDDESK\SLIN-ADE\NEW_ACRON\" />-->

    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
