<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <section name="securitySwitch" type="SecuritySwitch.Configuration.Settings, SecuritySwitch" requirePermission="false" />
  
  </configSections>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />

    <add key="ADSERVER" value="192.168.90.105:2012" />

    <add key="Host" value=".\SQLEXPRESS" />
    <add key="BD" value="BD_FACTURACION" />
    <add key="USER" value="SHCmp3SO7qo=" />
    <add key="PWD" value="outiiz/77lQ=" />

    <add key="PathLogSLINADE" value="J:\SLIN-ADE\Logs\" />

    <add key="PagLogin" value="AccessCloud" />

    <!--AD CONNECT-->
    <!--<add key="ADSERVER" value="NAMESERVER_AD" />-->

    <!--DB CONNECT-->
    <!--<add key="Host" value="HOST_ARS" />
    <add key="BD" value="DB_ARS" />
    <add key="USER" value="USER_ARS" />
    <add key="PWD" value="PWD_ARS" />-->
    
    <!--PATH-->
    <!--<add key="PathLogSLINADE" value="HARDDESK\SLIN-ADE\Logs\" />-->
   
    
  </appSettings>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR={1}'" />
    <add name="BD_FACTURACIONConnectionString" connectionString="Data Source=192.168.101.97\SQLEXPRESS;Initial Catalog=BD_FACTURACION;User ID=sa;Password=Factura99" providerName="System.Data.SqlClient" />
    <add name="BD_FACTURACIONConnectionString1" connectionString="Data Source=192.168.90.7\SQLEXPRESS;Initial Catalog=BD_FACTURACION;User ID=sa;Password=Factura99" providerName="System.Data.SqlClient" />
    <add name="BD_FACTURACIONConnectionString2" connectionString="Data Source=192.168.90.8;Initial Catalog=BD_FACTURACION;User ID=sa;Password=C0rporaci0n" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <httpHandlers>
      <!--<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"-->

      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <httpRuntime targetFramework="4.5" />
    <!--<httpRuntime maxRequestLength="10240" executionTimeout="36000" />-->


    <!--<httpHandlers>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </httpHandlers>-->

    <!--<customErrors mode="Off">-->
    <customErrors mode="On">
      <error statusCode="404" redirect="ErroPage/ErrorPage.aspx" />
      <error statusCode="500" redirect="ErroPage/ErrorPage.aspx" />
      <!--defaultRedirect="ErroPage/ErrorPage.aspx" redirectMode="ResponseRewrite"-->
    </customErrors>

    <!--<authentication mode="None"/>-->

    <authentication mode="Forms">
      <!--<forms loginUrl="~/Security/Login.aspx" timeout="120" />-->
      <forms loginUrl="/Login.aspx" defaultUrl="/Login.aspx" timeout="20" protection="All" name="AppNameCookie" path="/FormsAuth" requireSSL="false" slidingExpiration="true" cookieless="UseCookies" enableCrossAppRedirects="false" />
    </authentication>

    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>



    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>


      <controls>
        <add tagPrefix="webopt" namespace="Microsoft.AspNet.Web.Optimization.WebForms" assembly="Microsoft.AspNet.Web.Optimization.WebForms" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <!--assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
      </controls>
    </pages>




    <membership>
      <providers>
        <!--
        ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
          ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" cookieless="false" customProvider="DefaultSessionProvider" timeout="120">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>



    <!--<sessionState mode="SQLServer" cookieless="true " regenerateExpiredSessionId="true "
                  timeout="30" sqlConnectionString="Data Source=MySqlServer;Integrated Security=SSPI;"
                  stateNetworkTimeout="30"/>-->

    <!--<sessionState mode="SQLServer"  cookieless="false" regenerateExpiredSessionId="true" timeout="30" sqlConnectionString="Data Source=MySqlServer;Integrated Security=SSPI;"
                  stateNetworkTimeout="30">
      
    </sessionState>-->

  <httpModules>
			<add name="SecuritySwitch" type="SecuritySwitch.SecuritySwitchModule, SecuritySwitch" />
		</httpModules>
    
  </system.web>
    

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <add name="SecuritySwitch" type="SecuritySwitch.SecuritySwitchModule, SecuritySwitch" />
    </modules>
    
    <!--<validation validateIntegratedModeConfiguration="false" />-->


    <!--INICIO PARA REDIRIGIR CUANDO EL WCF NO ESTE DISPONIBLE-->
    <!--<httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" responseMode="ExecuteURL" path="/ErrorPage/ErrorPage" />
      <remove statusCode="500" />
      <error statusCode="500" responseMode="ExecuteURL" path="/ErrorPage/ErrorPage" />
    </httpErrors>-->
    <!--END PARA REDIRIGIR CUANDO EL WCF NO ESTE DISPONIBLE-->


    <handlers>


      <remove name="ChartImageHandler" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <!--path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
    </handlers>
    
        <defaultDocument>
            <files>
                <add value="ade.htm" />
                <add value="Login.aspx" />
            </files>
        </defaultDocument>

  </system.webServer>



  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>



  <system.serviceModel>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    
    <bindings>

      

      <basicHttpBinding>
        
        <binding name="HTTP_ServicioFacturacion" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:03:00" sendTimeout="00:03:00" maxBufferPoolSize="6242880" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="6242880" maxStringContentLength="6242880" maxArrayLength="6242880" maxBytesPerRead="6242880" maxNameTableCharCount="6242880" />
        </binding>
        
        <binding name="HTTP_ServicioSeguridad" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:03:00" maxBufferPoolSize="6242880" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="6242880" maxStringContentLength="6242880" maxArrayLength="6242880" maxBytesPerRead="6242880" maxNameTableCharCount="6242880" />
        </binding>
        
        <binding name="HTTP_ServicioMantenimiento" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:03:00" sendTimeout="00:03:00" maxBufferPoolSize="6242880" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="6242880" maxStringContentLength="6242880" maxArrayLength="6242880" maxBytesPerRead="6242880" maxNameTableCharCount="6242880" />
        </binding>

        <binding name="HTTP_ServicioConfiguracion" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:03:00" sendTimeout="00:03:00" maxBufferPoolSize="6242880" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="6242880" maxStringContentLength="6242880" maxArrayLength="6242880" maxBytesPerRead="6242880" maxNameTableCharCount="6242880" />
        </binding>

      </basicHttpBinding>
    
    <basicHttpsBinding>
        
        <binding name="HTTP_ServicioFacturacion" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:03:00" sendTimeout="00:03:00" maxBufferPoolSize="6242880" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="6242880" maxStringContentLength="6242880" maxArrayLength="6242880" maxBytesPerRead="6242880" maxNameTableCharCount="6242880" />
        </binding>
        <binding name="HTTP_ServicioSeguridad" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:03:00" maxBufferPoolSize="6242880" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="6242880" maxStringContentLength="6242880" maxArrayLength="6242880" maxBytesPerRead="6242880" maxNameTableCharCount="6242880" />
        </binding>
        <binding name="HTTP_ServicioMantenimiento" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:03:00" sendTimeout="00:03:00" maxBufferPoolSize="6242880" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="6242880" maxStringContentLength="6242880" maxArrayLength="6242880" maxBytesPerRead="6242880" maxNameTableCharCount="6242880" />
        </binding>

        <binding name="HTTP_ServicioConfiguracion" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:03:00" sendTimeout="00:03:00" maxBufferPoolSize="6242880" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="6242880" maxStringContentLength="6242880" maxArrayLength="6242880" maxBytesPerRead="6242880" maxNameTableCharCount="6242880" />
        </binding>

      </basicHttpsBinding>
    </bindings>
    <client>

      <!--<endpoint address="https://localhost:443/serviceade/ServicioFacturacion.svc" binding="basicHttpsBinding" bindingConfiguration="HTTP_ServicioFacturacion" contract="Slin.Facturacion.Proxies.ServicioFacturacion.IServicioFacturacion" name="HTTP_ServicioFacturacion"></endpoint>
      <endpoint address="https://localhost:443/serviceade/ServicioSeguridad.svc" binding="basicHttpsBinding" bindingConfiguration="HTTP_ServicioSeguridad" contract="Slin.Facturacion.Proxies.ServicioSeguridad.IServicioSeguridad" name="HTTP_ServicioSeguridad"></endpoint>
      <endpoint address="https://localhost:443/serviceade/ServicioMantenimiento.svc" binding="basicHttpsBinding" bindingConfiguration="HTTP_ServicioMantenimiento" contract="Slin.Facturacion.Proxies.ServicioMantenimiento.IServicioMantenimiento" name="HTTP_ServicioMantenimiento"></endpoint>
      <endpoint address="https://localhost:443/serviceade/ServicioConfiguracion.svc" binding="basicHttpsBinding" bindingConfiguration="HTTP_ServicioConfiguracion" contract="Slin.Facturacion.Proxies.ServicioConfiguracion.IServicioConfiguracion" name="HTTP_ServicioConfiguracion"></endpoint>-->

      <endpoint address="http://localhost:52464/ServicioFacturacion.svc" binding="basicHttpBinding" bindingConfiguration="HTTP_ServicioFacturacion" contract="Slin.Facturacion.Proxies.ServicioFacturacion.IServicioFacturacion" name="HTTP_ServicioFacturacion"></endpoint>
      <endpoint address="http://localhost:52464/ServicioSeguridad.svc" binding="basicHttpBinding" bindingConfiguration="HTTP_ServicioSeguridad" contract="Slin.Facturacion.Proxies.ServicioSeguridad.IServicioSeguridad" name="HTTP_ServicioSeguridad"></endpoint>
      <endpoint address="http://localhost:52464/ServicioMantenimiento.svc" binding="basicHttpBinding" bindingConfiguration="HTTP_ServicioMantenimiento" contract="Slin.Facturacion.Proxies.ServicioMantenimiento.IServicioMantenimiento" name="HTTP_ServicioMantenimiento"></endpoint>
      <endpoint address="http://localhost:52464/ServicioConfiguracion.svc" binding="basicHttpBinding" bindingConfiguration="HTTP_ServicioConfiguracion" contract="Slin.Facturacion.Proxies.ServicioConfiguracion.IServicioConfiguracion" name="HTTP_ServicioConfiguracion"></endpoint>


      <!--<endpoint address="http://localhost:PORT_REPLACE/ServicioFacturacion.svc" binding="basicHttpBinding" bindingConfiguration="HTTP_ServicioFacturacion" contract="Slin.Facturacion.Proxies.ServicioFacturacion.IServicioFacturacion" name="HTTP_ServicioFacturacion"></endpoint>
      <endpoint address="http://localhost:PORT_REPLACE/ServicioSeguridad.svc" binding="basicHttpBinding" bindingConfiguration="HTTP_ServicioSeguridad" contract="Slin.Facturacion.Proxies.ServicioSeguridad.IServicioSeguridad" name="HTTP_ServicioSeguridad"></endpoint>
      <endpoint address="http://localhost:PORT_REPLACE/ServicioMantenimiento.svc" binding="basicHttpBinding" bindingConfiguration="HTTP_ServicioMantenimiento" contract="Slin.Facturacion.Proxies.ServicioMantenimiento.IServicioMantenimiento" name="HTTP_ServicioMantenimiento"></endpoint>
      <endpoint address="http://localhost:PORT_REPLACE/ServicioConfiguracion.svc" binding="basicHttpBinding" bindingConfiguration="HTTP_ServicioConfiguracion" contract="Slin.Facturacion.Proxies.ServicioConfiguracion.IServicioConfiguracion" name="HTTP_ServicioConfiguracion"></endpoint>-->
      
    </client>

  </system.serviceModel>
<securitySwitch mode="Off" xmlns="http://SecuritySwitch-v4.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="SecuritySwitch-v4.xsd" baseSecureUri="https://localhost:443/" baseInsecureUri="http://localhost:44300/">
		<paths>
			<!-- You should only need one of these paths based on where your login/logon page/view is accessed from. -->
			<!--<add path="~/Login.aspx" />
			<add path="~/Account/Login.aspx" />
			<add path="~/Account/LogOn/" />-->
      <add path="~/Login.aspx" />
		</paths>
	</securitySwitch>

  

</configuration>


















