<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>

    <!--<add key="Host" value="192.168.90.7\SQLEXPRESS"/>-->

    <add key="Host" value="192.168.90.8"/>
    <add key="BD" value="BD_FACTURACION"/>
    <add key="USER" value="SHCmp3SO7qo="/>
    <add key="PWD" value="m2BEJzpQRAarQ3gYAJLWSA=="/>
    <!--UDESA-->
    <!--<add key="PWD" value="R8G3IfVx4dNkKsS4tdtJIQ=="/>-->
    <!--ANCRO_PRUEBA-->

    <add key="PathLogSLINADE" value="D:\SLIN-ADE\SLIN\Logs\LogADE\"/>

    <add key="PathDocumentReceived" value="D:\SLIN-ADE\SLIN\ReceivedCE\input_xml\" />
    <add key="PathMoveInsertedOK" value="D:\SLIN-ADE\SLIN\ReceivedCE\ins\XML\" />
    <add key="PathMoveDocNotInserted" value="D:\SLIN-ADE\SLIN\ReceivedCE\nins\XML\" />

    <add key="PathListDocNotInserted" value="D:\SLIN-ADE\SLIN\Procesos\smi\ldni\" />
    <add key="PathListDocInserted" value="D:\SLIN-ADE\SLIN\Procesos\smi\ldi\" />
    <add key="PathListErrorLog" value="D:\SLIN-ADE\SLIN\Procesos\smi\log\" />
    
  </appSettings>

</configuration>